:root {
  font-size: 10px;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80rem;
  height: 100%;
  border: 5px solid #000;
}

.square-wrap {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.square-yellow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: yellow;
}

.figure {
  font-size: 8rem;
  cursor: move;
}
