:root {
  font-size: 10px;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.square-wrap {
  width: 10rem;
  height: 10rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80rem;
  height: 100%;
  border: 5px solid #000;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.figure {
  font-size: 8rem;
  cursor: move;
}
